.ServicesFeatured {
    padding: $spacing-large 0;
    position: relative;
    background-color: $color-offwhite;

    &__container {
        @include container--small;
        justify-content: space-between;
        flex-direction: column;
        @media (min-width: $mobile) {
            flex-direction: row;
        }
    }
    .Services {
        width: 100%;
        @media (min-width: $mobile) {
            width: calc(50% - 10px);            
        }
    }
}